PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/stockbtp
JWT_SECRET=change_this_to_a_very_long_random_secret
JWT_EXPIRE=30d

# Domaine(s) du frontend autorisé(s) en CORS, séparés par des virgules si plusieurs
FRONTEND_URL=https://stock-app-kappa-lime.vercel.app
